<body ng-controller="ProjectCtrl" layout="row"
      layout-align="space-around" layout-padding="layout-padding"
      ng-cloak="ng-cloak">
<md-toolbar>
    <div class="md-toolbar-tools" class="md-hue-2">
        <h2><span>Plan It</span></h2>
        <span flex></span>
        <md-button aria-label="sign-out" href="#!/home" class="md-accent md-raised">
            Sign out
        </md-button>
    </div>
</md-toolbar>
<div class="md-padding" layout="row" layout-wrap>
    <md-card flex="30" ng-repeat="item in projects">
        <md-card-content>
            <div flex layout="column">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{item.title}}</span>
                        <span class="md-subhead">{{item.description}}</span>
                    </md-card-title-text>
                </md-card-title>
                <p>
                    <md-button aria-label="view-project" ng-click="view(item.hash)" class="md-accent md-raised">
                        View Project ->
                    </md-button>
                </p>
            </div>
        </md-card-content>
    </md-card>
</div>
</body>