.staging {
    color: #000000;
}
.staging md-list-item {
    color: #FFFFFF;
    background-color: #00006e
}
.definite {
   color: #43A047;
}
.definite md-list-item {
    color: #FFFFFF;
    background-color: #43A047;
}

.maybe {
    color: #FFB300;
}

.maybe md-list-item {
    color: #FFFFFF;
    background-color: #FFB300;
}

.question {
    color: #FF1744;
}

.question md-list-item {
    color: #FFFFFF;
    background-color: #FF1744;
}