<body ng-controller="WorkspaceCtrl" layout="row"
      layout-align="space-around" layout-padding="layout-padding"
      ng-cloak="ng-cloak">
<md-toolbar>
    <div class="md-toolbar-tools" class="md-hue-2">
        <h2><span>Plan It</span></h2>
        <span flex></span>
        <md-button aria-label="sign-out" href="#!/home" class="md-accent md-raised">
            Sign out
        </md-button>
    </div>
</md-toolbar>
<md-content flex layout="row">
    <div layout="column">
        <div layout="row" class="md-padding">
            <md-card ng-repeat="item in topbar" flex="30">
                <md-card-content>
                    <div flex layout="column">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{item.title}}</span>
                                <span class="md-subhead">{{item.description}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <p>
                            <md-button aria-label="view-project" class="md-primary md-raised">
                                Move
                            </md-button>
                        </p>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div layout="row" flex>
            <div layout="column" layout-align="center center" flex="33" class="question">
                <h1>Questionable</h1>
                <md-card ng-repeat="item in topbar" flex-gt-sm="20" flex-gt-md="33">
                    <md-card-content>
                        <div flex layout="column">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{item.title}}</span>
                                    <span class="md-subhead">{{item.description}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <p>
                                <md-button aria-label="view-project" class="md-raised">
                                    Move
                                </md-button>
                            </p>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="column" layout-align="center center" flex="33" class="maybe">
                <h1>Maybe</h1>
                <md-card ng-repeat="item in topbar" flex-gt-sm="20" flex-gt-md="33">
                    <md-card-content>
                        <div flex layout="column">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{item.title}}</span>
                                    <span class="md-subhead">{{item.description}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <p>
                                <md-button aria-label="view-project" class="md-raised">
                                    Move
                                </md-button>
                            </p>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div layout="column" layout-align="center center"  flex="33" class="definite">
                <h1>Definitely</h1>
                <md-card ng-repeat="item in topbar" flex-gt-sm="20" flex-gt-md="33">
                    <md-card-content>
                        <div flex layout="column">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{item.title}}</span>
                                    <span class="md-subhead">{{item.description}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <p>
                                <md-button aria-label="view-project" class="md-raised">
                                    Move
                                </md-button>
                            </p>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</md-content>
</body>