<body ng-controller="WorkspaceCtrl" layout="row"
      layout-align="space-around" layout-padding="layout-padding"
      ng-cloak="ng-cloak">
<md-toolbar>
    <div class="md-toolbar-tools" class="md-hue-2">
        <h2><span>Plan It</span></h2>
        <span flex></span>
        <md-button aria-label="sign-out" href="#!/home" class="md-accent md-raised">
            Sign out
        </md-button>
    </div>
</md-toolbar>
<!--<div layout="row" class="md-padding">-->
<!--<md-card ng-repeat="item in topbar" flex="30">-->
<!--<md-card-content>-->
<!--<div flex layout="column">-->
<!--<md-card-title>-->
<!--<md-card-title-text>-->
<!--<span class="md-headline">{{item.title}}</span>-->
<!--<span class="md-subhead">{{item.description}}</span>-->
<!--</md-card-title-text>-->
<!--</md-card-title>-->
<!--<p>-->
<!--<md-button aria-label="view-project" class="md-primary md-raised">-->
<!--Move-->
<!--</md-button>-->
<!--</p>-->
<!--</div>-->
<!--</md-card-content>-->
<!--</md-card>-->
<!--</div>-->
<div layout="row" flex>
    <div layout="column" layout-align="center center" flex="25" class="staging">
        <h1>To Be Assigned</h1>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="item in topbar" >
                <div class="md-list-item-text" layout="column">
                    <h3 style="color: #FFFFFF">{{item.title}}</h3>
                    <h4 style="color: #FFFFFF">{{item.description}}</h4>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <div layout="column" layout-align="center center" flex="25" class="question">
        <h1>Questionable</h1>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="item in topbar">
                <div class="md-list-item-text" layout="column">
                    <h3 style="color: #FFFFFF">{{item.title}}</h3>
                    <h4 style="color: #FFFFFF">{{item.description}}</h4>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <div layout="column" layout-align="center center" flex="25" class="maybe">
        <h1>Maybe</h1>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="item in topbar">
                <div class="md-list-item-text" layout="column">
                    <h3 style="color: #FFFFFF">{{item.title}}</h3>
                    <h4 style="color: #FFFFFF">{{item.description}}</h4>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <div layout="column" layout-align="center center" flex="25" class="definite">
        <h1>Definitely</h1>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="item in topbar">
                <div class="md-list-item-text" layout="column">
                    <h3 style="color: #FFFFFF">{{item.title}}</h3>
                    <h4 style="color: #FFFFFF">{{item.description}}</h4>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
</div>
</body>