<body ng-controller="WorkspaceCtrl" layout="row"
      layout-align="space-around" layout-padding="layout-padding"
      ng-cloak="ng-cloak">
<md-toolbar>
    <div class="md-toolbar-tools" class="md-hue-2">
        <h2><span>Plan It</span></h2>
        <span flex></span>
        <md-button aria-label="sign-out" href="#!/home" class="md-accent md-raised">
            Sign out
        </md-button>
    </div>
</md-toolbar>
<div layout="row" flex>
    <div layout="column" layout-align="center center" flex="25" class="staging">
        <h1>To Be Assigned</h1>
        <md-list flex>
            <md-list-item class="md-3-line md-long-text" ng-repeat="item in topbar | filter:0">
                <div class="md-list-item-text" layout="column">
                    <h3 style="color: #FFFFFF">{{item.title}}</h3>
                    <p style="color: #FFFFFF">{{item.description}}</p>
                    <md-select class="md-secondary" placeholder="Type" ng-model="item.type">
                        <md-option value="0">
                            Unassigned
                        </md-option>
                        <md-option value="1">
                            Questionable
                        </md-option>
                        <md-option value="2">
                            Maybe
                        </md-option>
                        <md-option value="3">
                            Definitely
                        </md-option>
                    </md-select>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <div layout="column" layout-align="center center" flex="25" class="question">
        <h1>Questionable</h1>
        <md-list flex>
            <md-list-item class="md-3-line md-long-text" ng-repeat="item in topbar | filter:1">
                <div class="md-list-item-text" layout="column">
                    <h3 style="color: #FFFFFF">{{item.title}}</h3>
                    <p style="color: #FFFFFF">{{item.description}}</p>
                    <md-select class="md-secondary" placeholder="Type" ng-model="item.type">
                        <md-option value="0">
                            Unassigned
                        </md-option>
                        <md-option value="1">
                            Questionable
                        </md-option>
                        <md-option value="2">
                            Maybe
                        </md-option>
                        <md-option value="3">
                            Definitely
                        </md-option>
                    </md-select>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <div layout="column" layout-align="center center" flex="25" class="maybe">
        <h1>Maybe</h1>
        <md-list flex>
            <md-list-item class="md-3-line md-long-text" ng-repeat="item in topbar | filter:2">
                <div class="md-list-item-text" layout="column">
                    <h3 style="color: #FFFFFF">{{item.title}}</h3>
                    <p style="color: #FFFFFF">{{item.description}}</p>
                    <md-select class="md-secondary" placeholder="Type" ng-model="item.type">
                        <md-option value="0">
                            Unassigned
                        </md-option>
                        <md-option value="1">
                            Questionable
                        </md-option>
                        <md-option value="2">
                            Maybe
                        </md-option>
                        <md-option value="3">
                            Definitely
                        </md-option>
                    </md-select>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <div layout="column" layout-align="center center" flex="25" class="definite">
        <h1>Definitely</h1>
        <md-list flex>
            <md-list-item class="md-3-line md-long-text" ng-repeat="item in topbar | filter:3">
                <div class="md-list-item-text" layout="column">
                    <h3 style="color: #FFFFFF">{{item.title}}</h3>
                    <p style="color: #FFFFFF">{{item.description}}</p>
                    <md-select class="md-secondary" placeholder="Type" ng-model="item.type">
                        <md-option value="0">
                            Unassigned
                        </md-option>
                        <md-option value="1">
                            Questionable
                        </md-option>
                        <md-option value="2">
                            Maybe
                        </md-option>
                        <md-option value="3">
                            Definitely
                        </md-option>
                    </md-select>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
</div>
</body>